{% extends "TaskManager/main.html" %}
{% block content %}


<div class="card-body">
    <h1>Регистрация</h1>

    <form method="POST">
        {% csrf_token %}
        
        <label>Логин:</label>
        {{form.username}}

        <label>Ваше имя:</label>
        {{form.name}}
            
        <label>Пароль:</label>
        {{form.password1}}

        <label>Ваш пароль еще раз:</label>
        {{form.password2}}

        <input style="margin-top:10px ;" class="btn btn-secondary" type="submit" value="Зарегистрироваться">
    </form>
    <p>Уже есть аккаунт? <a class="btn btn-primary" href="{% url 'login' %}">Войти</a></p>
</div>

{% endblock content %}